<h2>Username: <%= @user.username %></h2>

<p>Lists:</p>
<ul>
<% @user.lists.each do |list| %>
  <li><%= link_to list.title, user_list_path(@user, list)  %>
    <%= link_to "Edit title", edit_user_list_path(@user, list) %>
    <%= form_for :list, url: user_list_path(@user, list), method: :delete do |f| %>
       <%= f.submit "Delete List" %>
    <% end %>
  </li>
<% end %>
</ul>

<%= link_to "Add new list", new_user_list_path(@user) %>